services:
  api:
    container_name: qr-hono-api-dev
    build: .
    ports:
      - '3000:3000'
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    command: npm run dev
